<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const menuButton = document.querySelector("[aria-label='toggle menu']");
        const menu = document.querySelector(".mobile-menu");

        menuButton.addEventListener("click", function () {
          menu.classList.toggle("hidden");
        });
      });
    </script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash.any? %>
    <% flash.each do |message_type, message| %>
      <div class="<%= flash_background_color(message_type) %> px-4 py-2 rounded-md text-white mb-4" role="alert"> 
        <p><%= message %></p>
      </div>
    <% end %>
    <% end %>

    <% if logged_in? %>
      <%= render 'shared/after_login_header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>

    <div>
      <%= yield %>
    </div>

    <div class="pt-10">
    <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
